/*Fonts*/


/*font-family: 'Archivo Narrow', sans-serif;*/


/*font-family: 'Lato', sans-serif;*/


/*font-family: 'Noto Sans KR', sans-serif;*/


/*font-family: 'Staatliches', cursive;*/


/*Elements*/

h1 {
    font-family: 'Staatliches', cursive;
}

h2 {
    font-family: 'Staatliches', cursive;
    text-align: left;
    font-size: 50px;
}

h4 {
    font-size: 18px;
}

hr {
    color: #ff0000;
    width: 100%;
}


/*--Classes--*/

.main {
    margin-left: 185px;
    padding: 0px 25px;
    margin: -10px -9px -10px 185px;
    background-color: #cfe969;
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/*Hyperlink colors*/

.hov {
    color: #ffed09;
}

a {
    color: #790003;
}

a:visited {
    color: #480002;
}


/*For resizing in-element font*/

.hugetxt {
    font-size: 30px;
    text-align: center;
}

.bigtxt {
    font-size: 22px;
    text-align: center;
}

.medtxt {
    font-size: 18px;
    text-align: center;
}

.smoltxt {
    font-size: 10px;
    text-align: center;
}


/*Stat section div adjustment and coloration*/

.divpadstat {
    padding: 1px 1px 1px 1px;
    background-color: #f9cc64;
    margin: 2px 0 2px 0;
    border-style: double;
    border-width: 1px;
    border-color: #bd9404;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #000000;
}


/*Collapsing content*/

.collapsible {
    background-color: #111;
    color: limegreen;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-color: red;
    border-width: 1px;
    font-family: 'Noto Sans KR', sans-serif;
}

.lastcol {
    border-bottom: solid;
    border-color: red;
    border-width: 1px;
}

.lastcon {
    border-bottom: solid;
    border-color: #395506;
    border-width: 1px;
    width: 40%;
}

.active {
    background-color: #252525;
    color: rgb(51, 139, 51);
    border-bottom: solid;
    border-color: red;
    border-width: 1px;
    content: "";
    font-weight: regular;
}

.collapsible:hover {
    background-color: #222222;
    color: #4ab54a;
}

.collapsible:after {
    font-family: 'Font Awesome 5 Free';
    content: "\f151";
    color: #111;
    background-color: limegreen;
    font-weight: 600;
    box-shadow: 2px -2px 1px rgb(21, 65, 21);
    float: right;
    margin-left: 5px;
    transform: rotateX(180deg);
    perspective: 1000px;
    display: block;
    transition: ease-out, .5s;
    transform-style: preserve-3d;
}

.active:after {
    content: '\f150';
    font-weight: 600;
    color: #252525;
    background-color: rgb(51, 139, 51);
    box-shadow: 2px -2px 1px #252525;
    transform: rotateX(-180deg);
    perspective: 1000px;
    display: block;
    transition: ease-in, .75s;
    transform-style: preserve-3d;
}

.content {
    padding: 0px 18px 0px 0;
    margin: -1px 0 0 0;
    max-height: 0;
    width: 35%;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    background-color: #80bc0e;
    color: #2d2d2d;
    font-size: 18px;
    border-right: solid;
    border-left: solid;
    border-width: 1px;
    color: #395506;
    font-family: 'Noto Sans KR', sans-serif;
}

.content2 {
    padding: 0px 18px 0px 0;
    margin: -1px 0 0 0;
    max-height: 0;
    width: 48.2%;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    background-color: #80bc0e;
    color: #2d2d2d;
    font-size: 18px;
    border-right: solid;
    border-left: solid;
    border-width: 1px;
    color: #395506;
    font-family: 'Noto Sans KR', sans-serif;
}

.content3 {
    padding: 0px 18px 0px 4px;
    margin: -1px 0 0 0;
    max-height: 0;
    width: 30%;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    background-color: #80bc0e;
    color: #2d2d2d;
    font-size: 18px;
    border-right: solid;
    border-left: solid;
    border-width: 1px;
    color: #395506;
    font-family: 'Noto Sans KR', sans-serif;
}


/*Table CSS*/

td,
tr,
th {
    border-style: solid;
    border-width: 1px;
    border-color: red;
    color: black;
    font-size: 16px;
    margin: 1px 1px 1px 1px;
    padding: 4px 10px;
}

th {
    background-color: 111;
    color: limegreen;
}


/*Side Navbar*/

.sidenav {
    height: 100%;
    width: 192px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: #ff0000;
    border-style: solid;
    border-width: 2px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #818181;
    background-color: #252525;
    border-width: 5px;
    border-color: #404040;
    border-style: ridge;
    box-shadow: darkgray;
    transform: scale(110%);
    margin: 5px 5% 5px 5%;
    perspective: 1000px;
    display: block;
    transition: ease-in, .0s;
    transform-style: center;
}

.head {
    padding: 6px 8px 6px 16px;
    text-decoration: underline;
    color: limegreen;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 40px;
}


/*Main image on the page*/

.mainimg {
    max-height: 250px;
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 250px;
    width: 250px;
    background-color: transparent;
    border-color: #d5c720;
    border-style: solid;
    border-width: 5px;
    border-radius: 10%;
}

.bioimg {
    max-height: 250px;
    max-width: 250px;
    display: block;
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: auto;
    float: right;
    height: 150px;
    width: auto;
    background-color: transparent;
    border-color: #d5c720;
    border-style: solid;
    border-width: 5px;
    border-radius: 10%;
    position: static;
    overflow: hidden;
    bottom: 85px;
    z-index: 0;
}


/*Flipcard stuff*/

.flipimg {
    display: block;
    max-height: 400px;
    max-width: 400px;
    height: 400px;
    width: 400px;
    background-color: #cfe969;
}

.flipdiv {
    margin-left: auto;
    margin-right: auto;
    float: left;
    z-index: 0;
    position: absolute;
}

.zdex {
    z-index: 2;
    position: relative;
}

.introdiv {
    padding: 0 0 0 -250px;
    margin: 0 0 0 250px;
}


/*Flipcard*/

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 3000px;
    padding: 100px -200px -100px -400px;
    margin: -100px 50px -75px -100px;
}

.flip-card-inner {
    position: relative;
    background-color: transparent;
    width: 400px;
    height: 400px;
    transition: transform 10s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(1080deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 400px;
    height: 400px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: transparent;
}

.flip-card-back {
    background-color: #cfe969;
    transform: rotateY(180deg);
    overflow: hidden;
    bottom: 2px;
}

.flip-card-front:hover {
    display: none;
}

.flip-card-back:hover {
    background-color: transparent;
}


/*For resizing in-document images for use as icons*/

.iconpad {
    margin: 0 20px 0 20px;
    padding: 2px;
}

.listdiv {
    vertical-align: middle;
    font-size: 20px;
}

.iconimg {
    max-height: 55px;
    max-width: 55px;
    background-color: #82ff04;
    border-style: solid;
    border-width: 1px;
    border-color: #316200;
    border-radius: 50%;
    position: static;
    z-index: 3;
}

.listicon {
    max-height: 30px;
    max-width: 30px;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    padding: 1px;
    float: left;
}

.waticon {
    border-color: #014a63;
    background-color: #12fce4;
}

.bugicon {
    background-color: #82ff04;
    border-color: #316200;
}

.rokicon {
    background-color: #fdcf66;
    border-color: #2b231c;
}

.figicon {
    background-color: #ff7755;
    border-color: #77001e;
}

.flyicon {
    background-color: #70fef7;
    border-color: #0268a6;
}

.groicon {
    background-color: #eba921;
    border-color: #2b231c;
}

.ghoicon {
    background-color: #c281fe;
    border-color: #0b0046;
}

.firicon {
    background-color: #fcc60a;
    border-color: #971300;
}

.graicon {
    background-color: #27ff09;
    border-color: #0b6600;
}

.eleicon {
    background-color: #fffc91;
    border-color: #818400;
}

.psyicon {
    background-color: #ba82ff;
    border-color: #c900d9;
}

.iceicon {
    background-color: #c4fffc;
    border-color: #00aeae;
}

.draicon {
    background-color: #fc7801;
    border-color: #6b3901;
}

.daricon {
    background-color: #aeaeae;
    border-color: #000000;
}

.faiicon {
    background-color: #ffe6e6;
    border-color: #f259ff;
}

.steicon {
    background-color: #96adfe;
    border-color: #233e70;
}

.noricon {
    background-color: #ffffff;
    border-color: #555555;
}

.poiicon {
    background-color: #cfff11;
    border-color: #680077;
}
